* {
  margin: 0;
  padding: 0;
  align-items: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.logo img {
  width: 60px;
  cursor: pointer;
  align-items: center;
}

header {
  font-family: "Quattrocento Sans", sans-serif;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: right;
  justify-content: space-around;
}
.menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
}

.menu ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #222;
}

.content {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0px;
}

.description {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.description h1 {
  font-size: 36px;
  font-weight: 500;
}

li {
  list-style: none;
  font-size: 18px;
  line-height: 22px;
  margin-right: 5vw;
  color: #222;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
  height: 70vh;
  min-height: 300px;
  max-height: 600px;
}

img {
  max-width: 40vw;
}

.emp {
  color: #414795;
  text-decoration: bold;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.logoName {
  margin-left: 10px;
  padding: 5px;
  border-left: solid #222 2px;
  font-size: 10px;
}

#active a {
  color: #414795;
  border-bottom: solid #414795 2px;
}

header .contact {
  padding: 15px 25px;
  background-color: #414795;
  border: none;
  color: aliceblue;
  font-size: larger;
  font-weight: 600;
  border-radius: 30px;
}

.tagLine {
  font-weight: bold;
}

#getStarted {
  background-color: #414795;
  border: none;
  font-size: 18px;
  margin: 40px 0px;
  padding: 20px 30px;
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 10px grey;
  cursor: pointer;
}
#getStarted:hover {
  transition: all ease-in-out 1s;
  box-shadow: none;
}

.fa-play-circle {
  color: rgb(94, 94, 94);
  font-size: 50px;
  margin: 0px 10px;
  cursor: pointer;
}

.vid {
  display: flex;
}

.heading {
  font-weight: bold;
}
.down {
  background-color: #414795;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 90%;
  left: 50%;
}
.down i {
  position: relative;
  left: 1px;
  padding: 10px;
  font-size: 30px;
  color: whitesmoke;
}
